*{
    margin: 0;
}

h1 {
    color: red;
}

h2 {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    display: block;
}

.centrar{

    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

#contenedor-cajas{
    display:flex;
/*    flex-direction:column; */
    width: 1200px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: chartreuse;

}

.box {
    width: 1000px;
    height: 100px;
    background-color: magenta;
    border: 2px solid black;
}

.caja1 {

    background-color: blue;
    color: white;
    position: static;
    
    

}

.caja2 {
    background-color: coral;
    position: static;
    
}

.caja3 {
    background-color: blueviolet;
    position: static;
    
}